# Created by .ignore support plugin (hsz.mobi)
.idea/
pythoncorecommtest.iml
target/
python-core-comm-test.iml
src/main/webapp/
src/main/java/fr/irisa/diverse/Demos
.DS_Store

!docs
docs/.deploy_git
docs/node_modules
docs/public
docs/source/backend-api/*
!docs/source/backend-api/index.md
docs/source/frontend-api/*
!docs/source/frontend-api/index.md