<!DOCTYPE html>
<html>
<head>
  <meta charSet='utf-8' />
  <title>Padins Documentation - Frontend API</title>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
  <link href='/padins-backend/css/docs.css' rel='stylesheet'>
</head>
<body>
  <div class='menu'>
    <div class='logo'>
      <a href="/padins-backend/">Padins</a>
    </div>
    <ul id='nav'>
      
      <li> <a href='/padins-backend/guide/index.html'> Guide </a> </li>
      
      <li> <a href='/padins-backend/backend-api/index.html'> Backend API </a> </li>
      
      <li> <a href='/padins-backend/frontend-api/index.html'> Frontend API </a> </li>
      
    </ul>
  </div>
  <div class='sidebar'>
    <nav class='sidebar-nav'>
      
        <ul class='nav'>
          <span>Introduction</span>
          <ul class='nav'>
            
              <li>
                <a href='index.html' 
                 >
                  Index
                </a>
              </li>
            
          </ul>
        </ul>
      
        <ul class='nav'>
          <span>app</span>
          <ul class='nav'>
            
              <li>
                <a href='app.component.html' 
                 >
                  app.component.ts
                </a>
              </li>
            
              <li>
                <a href='app.module.html' 
                 >
                  app.module.ts
                </a>
              </li>
            
              <li>
                <a href='chart.colors.html' 
                 >
                  chart.colors.ts
                </a>
              </li>
            
              <li>
                <a href='chart.component.html' 
                 >
                  chart.component.ts
                </a>
              </li>
            
              <li>
                <a href='code-editor.component.html' 
                 >
                  code-editor.component.ts
                </a>
              </li>
            
              <li>
                <a href='ng2-monaco-editor.html' 
                 >
                  ng2-monaco-editor.ts
                </a>
              </li>
            
              <li>
                <a href='monaco-editor.component.html' 
                 >
                  monaco-editor.component.ts
                </a>
              </li>
            
              <li>
                <a href='data-importer.component.html' 
                 >
                  data-importer.component.ts
                </a>
              </li>
            
              <li>
                <a href='file-explorer.component.html' 
                 >
                  file-explorer.component.ts
                </a>
              </li>
            
              <li>
                <a href='flow-nodes-list.component.html' 
                 >
                  flow-nodes-list.component.ts
                </a>
              </li>
            
              <li>
                <a href='gl.component.html' 
                 class='active'  >
                  gl.component.ts
                </a>
              </li>
            
              <li>
                <a href='name.component.html' 
                 >
                  name.component.ts
                </a>
              </li>
            
              <li>
                <a href='file-controller.html' 
                 >
                  file-controller.ts
                </a>
              </li>
            
              <li>
                <a href='topbar.component.html' 
                 >
                  topbar.component.ts
                </a>
              </li>
            
              <li>
                <a href='colors.html' 
                 >
                  colors.ts
                </a>
              </li>
            
              <li>
                <a href='graph-controller.html' 
                 >
                  graph-controller.ts
                </a>
              </li>
            
              <li>
                <a href='html-element.html' 
                 >
                  html-element.ts
                </a>
              </li>
            
              <li>
                <a href='workflow.component.html' 
                 >
                  workflow.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace-chooser.component.html' 
                 >
                  workspace-chooser.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.component.html' 
                 >
                  workspace.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace-listener.html' 
                 >
                  workspace-listener.ts
                </a>
              </li>
            
              <li>
                <a href='keys.pipe.html' 
                 >
                  keys.pipe.ts
                </a>
              </li>
            
              <li>
                <a href='traceback.pipe.html' 
                 >
                  traceback.pipe.ts
                </a>
              </li>
            
              <li>
                <a href='app-data.service.html' 
                 >
                  app-data.service.ts
                </a>
              </li>
            
              <li>
                <a href='app.service.html' 
                 >
                  app.service.ts
                </a>
              </li>
            
              <li>
                <a href='fbp-network-message-handler.service.html' 
                 >
                  fbp-network-message-handler.service.ts
                </a>
              </li>
            
              <li>
                <a href='component-message-handler.html' 
                 >
                  component-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='file-explorer-message-handler.html' 
                 >
                  file-explorer-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='graph-message-handler.html' 
                 >
                  graph-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='network-message-handler.html' 
                 >
                  network-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='trace-message-handler.html' 
                 >
                  trace-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='socket.service.html' 
                 >
                  socket.service.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.service.html' 
                 >
                  workspace.service.ts
                </a>
              </li>
            
              <li>
                <a href='chart.html' 
                 >
                  chart.ts
                </a>
              </li>
            
              <li>
                <a href='component.html' 
                 >
                  component.ts
                </a>
              </li>
            
              <li>
                <a href='edge.html' 
                 >
                  edge.ts
                </a>
              </li>
            
              <li>
                <a href='fbp-message.html' 
                 >
                  fbp-message.ts
                </a>
              </li>
            
              <li>
                <a href='flow.html' 
                 >
                  flow.ts
                </a>
              </li>
            
              <li>
                <a href='group.html' 
                 >
                  group.ts
                </a>
              </li>
            
              <li>
                <a href='node.html' 
                 >
                  node.ts
                </a>
              </li>
            
              <li>
                <a href='port.html' 
                 >
                  port.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.html' 
                 >
                  workspace.ts
                </a>
              </li>
            
          </ul>
        </ul>
      
        <ul class='nav'>
          <span></span>
          <ul class='nav'>
            
              <li>
                <a href='main.html' 
                 >
                  main.ts
                </a>
              </li>
            
              <li>
                <a href='polyfills.html' 
                 >
                  polyfills.ts
                </a>
              </li>
            
              <li>
                <a href='vendor.html' 
                 >
                  vendor.ts
                </a>
              </li>
            
          </ul>
        </ul>
      
    </nav>
    <a class='footer' href='https://github.com/AntoineCheron/padins-backend'>
      Project on github
    </a>
  </div>
  <div class='page'>
    <div class='page-content'>
      <h1>Frontend API</h1>
      <h2 id="export-class-GLComponent-implements-OnInit"><a href="#export-class-GLComponent-implements-OnInit" class="headerlink" title="export class GLComponent implements OnInit"></a>export class GLComponent implements OnInit</h2><p>This component implements Golden Layout, the main component above the topbar on the workspace view. <a href="http://golden-layout.com/" target="_blank" rel="external">Golden Layout</a> is a multi-screen layout manager for webapps. A multi-screen layout manager is a component that is composed of windows, similar to OS’s desktop windows. Those windows can be redimensionned and moved all over the layout manager. Each window act as a container for any HTML code.</p>
<p>On the developer perspective, the other components are developed without any constraint.</p>
<p>In this app, we use Golden Layout to maximize the view’s customization. So that the user can create her own working environnement.</p>
<p>This Angular Component implements all the configuration of the Golden Layout component and imports all the components to use into it.</p>
<p>Created by antoine on 07/06/17.</p>
<h3 id="async-ngOnInit"><a href="#async-ngOnInit" class="headerlink" title="async ngOnInit()"></a>async ngOnInit()</h3><p>On init, create the GoldenLayout instance, retrieve and share the event hub, register the UI components that will be available from Golden Layout and initialize the layout to display it.</p>
<ul>
<li><strong>Returns:</strong> <code>Promise&lt;void&gt;</code> — ignored promise.</li>
</ul>
<h3 id="openWindow-node-Node"><a href="#openWindow-node-Node" class="headerlink" title="openWindow (node: Node)"></a>openWindow (node: Node)</h3><p>Open the detailed view for the given Node. If already opened, will show it.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the node to display the detailed view for.</li>
</ul>
<h3 id="closeWindow-node-Node"><a href="#closeWindow-node-Node" class="headerlink" title="closeWindow (node: Node)"></a>closeWindow (node: Node)</h3><p>Close the given node’s detailed view.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the node to close the detailed view for.</li>
</ul>
<h3 id="updateTabName-node-Node"><a href="#updateTabName-node-Node" class="headerlink" title="updateTabName (node: Node)"></a>updateTabName (node: Node)</h3><p>Update the label of the tab of the given node’s detailed view to reflect the node’s name.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the node to use</li>
</ul>
<h3 id="getGLItem-node-Node-any"><a href="#getGLItem-node-Node-any" class="headerlink" title="getGLItem (node: Node): any"></a>getGLItem (node: Node): any</h3><p>Returns the detailed view’s of the given node. This detailed view is a Golden Layout’s item.</p>
<p><a href="http://golden-layout.com/docs/Item.html" target="_blank" rel="external">Item’s documentation</a></p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — </li>
<li><strong>Returns:</strong> <code>any</code> — </li>
</ul>
<h3 id="showGraph"><a href="#showGraph" class="headerlink" title="showGraph ()"></a>showGraph ()</h3><p>Show the graph window. Reopen it if closed.</p>
<h3 id="showComponentsList"><a href="#showComponentsList" class="headerlink" title="showComponentsList ()"></a>showComponentsList ()</h3><p>Show the window containing the list of components that can be used to create the workflow. Reopen it if closed.</p>
<h3 id="showFileExplorer"><a href="#showFileExplorer" class="headerlink" title="showFileExplorer ()"></a>showFileExplorer ()</h3><p>Show the graph window. Reopen it if closed.</p>
<h3 id="showWindow-id-string-componentName-string-title-string-addToRoot-boolean-void"><a href="#showWindow-id-string-componentName-string-title-string-addToRoot-boolean-void" class="headerlink" title="showWindow (id: string, componentName: string, title: string, addToRoot: boolean): void"></a>showWindow (id: string, componentName: string, title: string, addToRoot: boolean): void</h3><p>Show the window of the component with the given id. If closed, reopen it with the given component, tab’s title and, display it either in the root layout or in the main-stack.</p>
<ul>
<li><p><strong>Parameters:</strong></p>
<ul>
<li><code>id</code> — id of the window</li>
<li><code>componentName</code> — name of the component to use if it’s needed to recreate the window</li>
<li><code>title</code> — title to use for the tab if it’s needed to recreate the window</li>
<li><p><code>addToRoot</code> — use only if it’s needed to recreate the window. In this case, if true, add the</p>
<p>window in the root element, else add it into the main stack created in the constructor.</p>
</li>
</ul>
</li>
</ul>
<h3 id="addToRoot-item-object"><a href="#addToRoot-item-object" class="headerlink" title="addToRoot (item: object)"></a>addToRoot (item: object)</h3><p>Add the given item into the root element of the GL’s layout. Reconfigure the root element if needed.</p>
<ul>
<li><strong>Parameters:</strong> <code>item</code> — the new item to add</li>
</ul>
<h3 id="reconfigureLayout"><a href="#reconfigureLayout" class="headerlink" title="reconfigureLayout ()"></a>reconfigureLayout ()</h3><p>Reconfigure the layout of the Golden Layout element if the rootEl have been deleted and replaced with a single element.</p>
<h3 id="addToMainStack-item-object"><a href="#addToMainStack-item-object" class="headerlink" title="addToMainStack (item: object)"></a>addToMainStack (item: object)</h3><p>Add the given item into the main stack element of the GL’s layout. Reconfigure the layout if needed.</p>
<ul>
<li><strong>Parameters:</strong> <code>item</code> — the item to add</li>
</ul>
<h3 id="registerLayoutComponent-name-string-component-any"><a href="#registerLayoutComponent-name-string-component-any" class="headerlink" title="registerLayoutComponent (name: string, component: any)"></a>registerLayoutComponent (name: string, component: any)</h3><p>Register the given component as a GolenLayout component.</p>
<ul>
<li><strong>Parameters:</strong><ul>
<li><code>name</code> — the name of the component. Can be use to query components and create new windows.</li>
<li><code>component</code> — </li>
</ul>
</li>
</ul>
<h3 id="configureEventHubListeners"><a href="#configureEventHubListeners" class="headerlink" title="configureEventHubListeners ()"></a>configureEventHubListeners ()</h3><p>Subscribe to useful events and bind events to the proper method calls.</p>
<p>It subscribes to : - openWindow : when the user wants to display a block’s detailed view - closeWindow : when the user wants to close a block’s detailed view - blockNameChanged : when the user change a block’s name - gl-component:show-graph : to display the graph’s window - gl-component:show-components-list : to display the components list’s window - gl-component:show-file-explorer : to display the file explorer’s window</p>
<h3 id="HostListener-‘window-resize’-‘-event’-onResize"><a href="#HostListener-‘window-resize’-‘-event’-onResize" class="headerlink" title="@HostListener(‘window:resize’, [‘$event’]) onResize()"></a>@HostListener(‘window:resize’, [‘$event’]) onResize()</h3><p>Add a HostListener on the window:resize event to update the layout size when the user resize the browser window.</p>
<h3 id="sleep-ms-number"><a href="#sleep-ms-number" class="headerlink" title="sleep(ms: number)"></a>sleep(ms: number)</h3><p>Pause the execution for the given amount of milliseconds.</p>
<ul>
<li><strong>Parameters:</strong> <code>ms</code> — the amount of milliseconds to pause the execution.</li>
<li><strong>Returns:</strong> <code>Promise&lt;T&gt;</code> — ignored promise</li>
</ul>

    </div>
  </div>
  <div class='switch-page'>
    
    
  </div>
</body>
</html>