<!DOCTYPE html>
<html>
<head>
  <meta charSet='utf-8' />
  <title>Padins Documentation - Frontend API</title>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
  <link href='/padins-backend/css/docs.css' rel='stylesheet'>
</head>
<body>
  <div class='menu'>
    <div class='logo'>
      <a href="/padins-backend/">Padins</a>
    </div>
    <ul id='nav'>
      
      <li> <a href='/padins-backend/guide/index.html'> Guide </a> </li>
      
      <li> <a href='/padins-backend/backend-api/index.html'> Backend API </a> </li>
      
      <li> <a href='/padins-backend/frontend-api/index.html'> Frontend API </a> </li>
      
    </ul>
  </div>
  <div class='sidebar'>
    <nav class='sidebar-nav'>
      
        <ul class='nav'>
          <span>Introduction</span>
          <ul class='nav'>
            
              <li>
                <a href='index.html' 
                 >
                  Index
                </a>
              </li>
            
          </ul>
        </ul>
      
        <ul class='nav'>
          <span>app</span>
          <ul class='nav'>
            
              <li>
                <a href='app.component.html' 
                 >
                  app.component.ts
                </a>
              </li>
            
              <li>
                <a href='app.module.html' 
                 >
                  app.module.ts
                </a>
              </li>
            
              <li>
                <a href='chart.colors.html' 
                 >
                  chart.colors.ts
                </a>
              </li>
            
              <li>
                <a href='chart.component.html' 
                 >
                  chart.component.ts
                </a>
              </li>
            
              <li>
                <a href='code-editor.component.html' 
                 >
                  code-editor.component.ts
                </a>
              </li>
            
              <li>
                <a href='ng2-monaco-editor.html' 
                 >
                  ng2-monaco-editor.ts
                </a>
              </li>
            
              <li>
                <a href='monaco-editor.component.html' 
                 >
                  monaco-editor.component.ts
                </a>
              </li>
            
              <li>
                <a href='data-importer.component.html' 
                 >
                  data-importer.component.ts
                </a>
              </li>
            
              <li>
                <a href='file-explorer.component.html' 
                 >
                  file-explorer.component.ts
                </a>
              </li>
            
              <li>
                <a href='flow-nodes-list.component.html' 
                 >
                  flow-nodes-list.component.ts
                </a>
              </li>
            
              <li>
                <a href='gl.component.html' 
                 >
                  gl.component.ts
                </a>
              </li>
            
              <li>
                <a href='name.component.html' 
                 >
                  name.component.ts
                </a>
              </li>
            
              <li>
                <a href='file-controller.html' 
                 >
                  file-controller.ts
                </a>
              </li>
            
              <li>
                <a href='topbar.component.html' 
                 >
                  topbar.component.ts
                </a>
              </li>
            
              <li>
                <a href='colors.html' 
                 >
                  colors.ts
                </a>
              </li>
            
              <li>
                <a href='graph-controller.html' 
                 >
                  graph-controller.ts
                </a>
              </li>
            
              <li>
                <a href='html-element.html' 
                 >
                  html-element.ts
                </a>
              </li>
            
              <li>
                <a href='workflow.component.html' 
                 class='active'  >
                  workflow.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace-chooser.component.html' 
                 >
                  workspace-chooser.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.component.html' 
                 >
                  workspace.component.ts
                </a>
              </li>
            
              <li>
                <a href='workspace-listener.html' 
                 >
                  workspace-listener.ts
                </a>
              </li>
            
              <li>
                <a href='keys.pipe.html' 
                 >
                  keys.pipe.ts
                </a>
              </li>
            
              <li>
                <a href='traceback.pipe.html' 
                 >
                  traceback.pipe.ts
                </a>
              </li>
            
              <li>
                <a href='app-data.service.html' 
                 >
                  app-data.service.ts
                </a>
              </li>
            
              <li>
                <a href='app.service.html' 
                 >
                  app.service.ts
                </a>
              </li>
            
              <li>
                <a href='fbp-network-message-handler.service.html' 
                 >
                  fbp-network-message-handler.service.ts
                </a>
              </li>
            
              <li>
                <a href='component-message-handler.html' 
                 >
                  component-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='file-explorer-message-handler.html' 
                 >
                  file-explorer-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='graph-message-handler.html' 
                 >
                  graph-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='network-message-handler.html' 
                 >
                  network-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='trace-message-handler.html' 
                 >
                  trace-message-handler.ts
                </a>
              </li>
            
              <li>
                <a href='socket.service.html' 
                 >
                  socket.service.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.service.html' 
                 >
                  workspace.service.ts
                </a>
              </li>
            
              <li>
                <a href='chart.html' 
                 >
                  chart.ts
                </a>
              </li>
            
              <li>
                <a href='component.html' 
                 >
                  component.ts
                </a>
              </li>
            
              <li>
                <a href='edge.html' 
                 >
                  edge.ts
                </a>
              </li>
            
              <li>
                <a href='fbp-message.html' 
                 >
                  fbp-message.ts
                </a>
              </li>
            
              <li>
                <a href='flow.html' 
                 >
                  flow.ts
                </a>
              </li>
            
              <li>
                <a href='group.html' 
                 >
                  group.ts
                </a>
              </li>
            
              <li>
                <a href='node.html' 
                 >
                  node.ts
                </a>
              </li>
            
              <li>
                <a href='port.html' 
                 >
                  port.ts
                </a>
              </li>
            
              <li>
                <a href='workspace.html' 
                 >
                  workspace.ts
                </a>
              </li>
            
          </ul>
        </ul>
      
        <ul class='nav'>
          <span></span>
          <ul class='nav'>
            
              <li>
                <a href='main.html' 
                 >
                  main.ts
                </a>
              </li>
            
              <li>
                <a href='polyfills.html' 
                 >
                  polyfills.ts
                </a>
              </li>
            
              <li>
                <a href='vendor.html' 
                 >
                  vendor.ts
                </a>
              </li>
            
          </ul>
        </ul>
      
    </nav>
    <a class='footer' href='https://github.com/AntoineCheron/padins-backend'>
      Project on github
    </a>
  </div>
  <div class='page'>
    <div class='page-content'>
      <h1>Frontend API</h1>
      <h2 id="export-class-WorkflowComponent-implements-OnInit"><a href="#export-class-WorkflowComponent-implements-OnInit" class="headerlink" title="export class WorkflowComponent implements OnInit"></a>export class WorkflowComponent implements OnInit</h2><p>UI Component that display the graph to the user and let her interact with it. It uses jointJS as the library to do this.</p>
<p>It uses a deep event handling in order to send the right messages to the server, using the FBP Network Protocol, at the right moment. Actually, most of the action are triggered by event handlers in this class.</p>
<p>On this component, a user can : - Move nodes - Remove nodes - Add edges - Remove edges - Connect edges to other nodes - Double-click a node to display its corresponding component</p>
<p>On the other side, the component reflect the Workflow data stored in the Workspace Service. So, for example, when the name of a node is changed, the displayed name change automatically on the graph. Also, when a user click on a node in the “flow-nodes-list-component”, a node is added on the chart.</p>
<p>This component uses a Graph-Controller that implements most of the methods used to interact with the graph itself. In this class are implemented most of the event handlers.</p>
<p>Created by antoine on 08/06/17.</p>
<h3 id="ngOnInit"><a href="#ngOnInit" class="headerlink" title="ngOnInit()"></a>ngOnInit()</h3><p>Initialize the elements that display the paper (the element that will host the nodes and edges) and the elements needed to interact with the graph in the future.</p>
<h3 id="private-updateNodes"><a href="#private-updateNodes" class="headerlink" title="private updateNodes ()"></a>private updateNodes ()</h3><p>Update the set of nodes displayed on the graph. To do it, it retrieves the nodes from the most trusted source : the WorkspaceService and compare the displayed ones to the ones in the retrieved list. Then it update the content.</p>
<h3 id="private-updateEdges"><a href="#private-updateEdges" class="headerlink" title="private updateEdges ()"></a>private updateEdges ()</h3><p>Update the set of edges displayed on the graph. To do it, it retrieves the edges from the most trusted source : the WorkspaceService and compare the displayed ones to the ones in the retrieved list. Then it update the content.</p>
<h3 id="edgeChanged-edge-Edge"><a href="#edgeChanged-edge-Edge" class="headerlink" title="edgeChanged (edge: Edge)"></a>edgeChanged (edge: Edge)</h3><p>The given edge’s metadata change. Send its new metadata to the server.</p>
<ul>
<li><strong>Parameters:</strong> <code>edge</code> — the updated edge.</li>
</ul>
<h3 id="nodeChanged-node-Node"><a href="#nodeChanged-node-Node" class="headerlink" title="nodeChanged (node: Node)"></a>nodeChanged (node: Node)</h3><p>The given node’s metadata change. Send its new metadata to the server.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the updated node.</li>
</ul>
<h3 id="removedEdge-edge-Edge"><a href="#removedEdge-edge-Edge" class="headerlink" title="removedEdge (edge: Edge)"></a>removedEdge (edge: Edge)</h3><p>The user wants to remove the given edge from the workflow. Send this information to the server.</p>
<ul>
<li><strong>Parameters:</strong> <code>edge</code> — the edge removed from the graph.</li>
</ul>
<h3 id="removedNode-node-Node"><a href="#removedNode-node-Node" class="headerlink" title="removedNode (node: Node)"></a>removedNode (node: Node)</h3><p>The user wants to remove the given node from the workflow. Send this information to the server.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the node removed from the graph.</li>
</ul>
<h3 id="createEdge-e-Edge"><a href="#createEdge-e-Edge" class="headerlink" title="createEdge (e: Edge)"></a>createEdge (e: Edge)</h3><p>The user wants to create an edge with the given data. Send this information to the server. If it is possible, the server will respond with a graph:addedge message.</p>
<ul>
<li><strong>Parameters:</strong> <code>e</code> — the edge to create.</li>
</ul>
<h3 id="updateBlockName-node-Node"><a href="#updateBlockName-node-Node" class="headerlink" title="updateBlockName (node: Node)"></a>updateBlockName (node: Node)</h3><p>Replace the name of the node with a new one.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the node with the updated data</li>
</ul>
<h3 id="emitCloseWindowEvent-node-Node"><a href="#emitCloseWindowEvent-node-Node" class="headerlink" title="emitCloseWindowEvent (node: Node)"></a>emitCloseWindowEvent (node: Node)</h3><p>Emit a ‘closewindow’ event on the eventHub in order to close the node’s detailed view.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the targeted node</li>
</ul>
<h3 id="createBlockForNode-node-Node"><a href="#createBlockForNode-node-Node" class="headerlink" title="createBlockForNode(node: Node)"></a>createBlockForNode(node: Node)</h3><p>Create a JointJS block for the given node.</p>
<ul>
<li><strong>Parameters:</strong> <code>node</code> — the source node</li>
<li><strong>Returns:</strong> <code>dia.Element</code> — the resulting jointJS block</li>
</ul>
<h3 id="handleDblClick-cell-any"><a href="#handleDblClick-cell-any" class="headerlink" title="handleDblClick(cell: any)"></a>handleDblClick(cell: any)</h3><p>Handle the double click event from a jointjs cell by opening the node’s detailed view if the cell is a node.</p>
<ul>
<li><strong>Parameters:</strong> <code>cell</code> — jointJS cell that triggered the event</li>
</ul>
<h3 id="setEventHub-hub-any"><a href="#setEventHub-hub-any" class="headerlink" title="setEventHub(hub: any)"></a>setEventHub(hub: any)</h3><p>Set the eventhub instance to use in order to communicate with the other components, and subscribe to the events useful for this component.</p>
<ul>
<li><strong>Parameters:</strong> <code>hub</code> — the golden layout event hub to use</li>
</ul>
<h3 id="addGraphEventsListeners"><a href="#addGraphEventsListeners" class="headerlink" title="addGraphEventsListeners ()"></a>addGraphEventsListeners ()</h3><p>Subscribe to the graph’s events useful in this component.</p>
<p>It subscribes to : - cell:pointdblclick</p>
<h3 id="resize"><a href="#resize" class="headerlink" title="resize()"></a>resize()</h3><p>Resize the component’s window in the golden layout. This method is called each time the user change the window’s size or redimension the browser’s window.</p>

    </div>
  </div>
  <div class='switch-page'>
    
    
  </div>
</body>
</html>